{% extends 'accounts/base.html' %}
{% load static %}



{% block content %}
{% include 'accounts/navbar.html' %}

<div class="section_main">
  <form method="post"  enctype="multipart/form-data">
    <p style="color:red;">{{form.errors}}</p>

    {% csrf_token %}
    <div class="row mb-3">
      <div class="col">
        <label for="">{{form.categorie.label}}</label>
        {{form.categorie}}
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label for="">{{form.description.label}}</label>
        {{form.description}}
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label for="">{{form.image_categorie.label}}</label>
       {{form.image_categorie}}
      </div>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-secondary btn-lg btn-block">Ajouter</button>
    </div>
  </form>
</div>

{% endblock %}