{% extends 'accounts/base.html' %}
{% load static %}

{% block content %}
{% include 'accounts/navbar.html' %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
    <li class="breadcrumb-item active" aria-current="page">categories animes</li>
  </ol>
</nav>
<!-- <div>
  <h2 style="text-align: center;padding: 1em;">Toutes nos Catégories</h2>
</div> -->

{% if user.is_authenticated %}
<div class="btn-add" style="margin-left: 3em;"><a href="{% url 'add_categorie' %}" class="btn btn-secondary btn-sm"><i class=""></i>Ajouter une catégorie</a></div>
{% endif %}
{% if messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <ul class="messages">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
    </ul>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
<hr>
<div class="wrapper">
  {% for category in page %}
  <div class="card">
    <a href="{% url 'categorie_by_article' category.id %}"><img class="card-img-top" src="{% static 'images/' %}{{ category.image_categorie }}" alt="Categorie image"></a>
    <div class="card-body">
      <h5 class="card-title"><a href="">{{category.categorie}}</a></h5>
      <p class="card-text">{{category.description}}</p>
    </div>
  </div>
  {% endfor %}
</div>
<div class="pagination">
  <span class="step-links">
      {% if page.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page.previous_page_number }}">previous</a>
      {% endif %}
      <span class="current">
        Page {{ page.number }} of {{ page.paginator.num_pages }}.
      </span>
      
      {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}">next</a>
        <a href="?page={{ page.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>


{% endblock %}