{% extends 'accounts/base.html' %}
{% load static %}

{% block content %}
{% include 'accounts/navbar.html' %}

<div class="filter" id="filterBlock">
  <form method="get">
    {{filter.form}}
    <div class="form-group" style="padding: 1em;">
      <button type="submit" class="btn btn-secondary btn-sm">Rechercher</button>
      <a href="{% url 'home' %}" class="btn btn-danger btn-sm">Renitialiser </a>
    </div>
    <div class="form-group">
    </div>
  </form>
</div>
<div style="padding: 1em;">
  <a class="btn btn-danger" style="width:auto;" id="toggleFilterBtn">Rechercher un article</a>
  {% if user.is_authenticated %}
    <a href="{% url 'add_article' %}" class="btn btn-primary" style="width:auto;">Ajouter un article</a>
    {% endif %}
</div>
<hr>
{% if messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <ul class="messages">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
    </ul>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
<article>
  {% for article in page %}
    {% if article %}
      <div class="section1">
        <div class="image">
          <a href="{% url 'details_articles' article.id %}"><img src="{% static 'images/' %}{{article.image_article}}" alt="Image Goku"></a>
        </div>
        <div class="text-articles">
          <div class="titre-article">
            <a href="{% url 'details_articles' article.id %}"><h2>{{article.title}}</h2></a>
          </div>
          <div class="auteur_article">
            <span style="font-style: italic;">Auteur : {{article.author.username}}</span>
          </div>
          <div class="date_article">{{article.publication_date|date:"d F Y"}}</div>
          <p>{{article.sous_content}}</p>
        </div>
      </div>
    {% else %}
      <h3>Article non trouvé</h3>
    {% endif %}
    {% endfor %}
    <div class="pagination">
      <span class="step-links">
        {% if page.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page.previous_page_number }}">previous</a>
          {% endif %}
          <span class="current">
            Page {{ page.number }} of {{ page.paginator.num_pages }}.
          </span>
    
          {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">next</a>
            <a href="?page={{ page.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
    </div>
  <hr>
</article>

{% endblock %}