{% extends 'accounts/base.html' %}
{% load static %}

{% block content %}
{% include 'accounts/navbar.html' %}

{% for messages in messages %}
<div style="width: 100%;background-color: rgb(255, 0, 0);padding: 1em;margin-top: 1em;">
  <span style="width: 100%;">{{messages}}</span> 
</div>
{% endfor %}
<div style="padding: 2em;">
  <h2>Créer un compte</h2>
</div>
<div class="main_auth">
  <div class="div_login">
    <h2>Se Connecter</h2>
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <div class="input_login">
        {{form}}
      </div>
      <div class="links">
      </div>
      <div class="btn_login">
        <button type="submit">Se Connecter</button>
      </div>
    </form>
    <p>
      <a href="{% url 'reset_password' %}">Mot de passe perdu?</a><br>
    </p>
  </div>
  <div class="div_register">
    <h2>S'enregister</h2>
    <form action="{% url 'register' %}" method="post">
      {% csrf_token %}
      <div class="input_register">
        {{forms.as_p}}
      </div>
      <div class="btn_register">
        <button type="submit">S'enregister</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
