{% extends 'accounts/base.html' %}

{% block content %}
  <section>
    <div class="signin">
      <div class="content">
        <h2>Renitialisation du mot de passe</h2>
        <form action="" method="post">
          {% csrf_token %}
          <div class="text-mdp">
            <p>Vous avez oublié votre mot de passe? Entrer votre adresse e-mail ci-dessous <br>et suivez les instructions pour renitialiser votre mot de passe</p>
            <p></p>
          </div>
          <div class="form">
            <div class="inputBox">
              {{form}} <i>Email</i>
            </div>
            <div class="inputBox">
              <input type="submit" value="Envoyé" />
            </div>
          </div>
        </form>
       
      </div>
    </div>
  </section> <!-- partial -->
{% endblock %}
