
{% extends 'accounts/base.html' %}
{% load static %}

{% block content %}
{% include 'accounts/navbar.html' %}

<div class="div_title_reset">
  <h2>Renitialisation du mot de passe</h2>
</div>
<div class="div_reset_password">
  <form action="" method="post">
    {% csrf_token %}
    <div class="text_mdp">
      <p>Vous avez oublié votre mot de passe? Entrer votre adresse e-mail ci-dessous et suivez les instructions pour renitialiser votre mot de passe</p>
    </div>
    <div class="mb-3">
      {{form}}
    </div>
    <div class="btn_reset_password">
      <button type="submit">Envoyer</button>
    </div>
  </form>
</div>
{% endblock %}
