@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
a{
  text-decoration: none;
}
.main_auth{
  display: flex;
  padding: 1em;
  justify-content: space-around;
  background-color: rgb(245, 255, 245);
}
.div_register{
  width: 40%;
  padding: 1em;
  /* background-color: rgb(147, 218, 147); */
  border-radius: 5px 5px 5px 5px;
}
.div_register .btn_register{
  width: 30%;
}
.div_register input{
  width:100%;
  padding:10px;
  border: 1px solid rgb(194, 190, 190);
  margin-bottom: 1em;
  border-radius: 5px 5px 5px 5px;
}
.div_register label{
  margin-bottom:5px;
}
.div_register .btn_register button{
  width: 100%;
  padding:9px;
  color: white;
  border: 1px solid white;
  background-color: rgb(9, 141, 9);
  border-radius: 5px 5px 5px 5px;
}
.div_login{
  width: 40%;
  padding: 1em;
  /* background-color: rgb(53, 54, 53); */
  border-radius: 5px 5px 5px 5px;
}
.div_login h2{
  width: auto;
  padding: 5px;
}
.div_login p{
  margin-top: 1em;
}
.div_login p a{
  color: #000;
}
.div_login p a:hover{
  color: #000;
  text-decoration: underline;
}
.div_login input{
  width:100%;
  padding:10px;
  margin-bottom: 1em;
  border: 1px solid  rgb(194, 190, 190);
  /* background-color: #0f0; */
  border-radius: 5px 5px 5px 5px;
}
.div_login .btn_login{
  width: 30%;
}
.div_login .btn_login button{
  padding: 10px;
  width: 100%;
  border: 1px solid white;
  background-color: rgb(9, 141, 9);
  border-radius: 5px 5px 5px 5px;
  color: white;
}
.div_reset_password{
  width: 50%;
  margin: 2em auto;
  padding: 2em;
  background-color: rgb(210, 213, 210);
}
.div_reset_password .btn_reset_password{
  width: 100%;
}
.div_reset_password .btn_reset_password button{
  padding: 10px;
  width: 100%;
  border: 1px solid white;
  background-color: rgb(6, 74, 6);
  border-radius: 5px 5px 5px 5px;
  color: white;
}
.div_reset_password input{
  width: 100%;
  padding: 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(194, 190, 190);
}
.div_title_reset{
  padding: 1em;
  text-align: center;
}
.msg_success_reset{
  width: 65%;
  padding: 2em;
  background-color: rgb(155, 158, 155);
  margin: 4em auto;
}
.msg_success_reset h2{
text-align: center;
}
.div_reset_form .btn_reset_form{
  width: 100%;
}
.div_reset_form .btn_reset_form button{
  padding: 10px;
  width: 100%;
  border: 1px solid white;
  background-color: rgb(6, 74, 6);
  border-radius: 5px 5px 5px 5px;
  color: white;
}
.div_reset_form input{
  width: 100%;
  padding: 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(194, 190, 190);
}
.div_reset_form{
  margin: 5em auto;
  background-color: #0f0;
  width: 50%;
  padding: 2em;
  background-color: rgb(210, 213, 210);
}
.div_reset_password_done{
  background-color: rgb(210, 213, 210);
  margin:4em auto;
  padding: 2em;
  width: 50%;
}
.btn_return_login{
  padding: 11px;
  background-color: rgb(6, 74, 6);
  width: 30%;
  text-align: center;
  border-radius: 5px 5px 5px 5px;
}
.btn_return_login a{
  width: 100%;
  color: white;
}

@media (max-width: 900px)
{
  section span 
  {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}

article{
  margin-top: 2em;
}
.section1{
  display: flex;
  justify-content: space-around;
  margin: 1em;
}
article .section1 .image{
  width: 30%;
}
article .section1 .image img{
  width: 100%;
}
article .section1 .image img:hover{
  transform: scale(0.9);
}
article .section1 .text-articles{
  width: 60%;
}
article .section1 .text-articles h2{
  color: #000;
}
article .section1 .text-articles p{
  width: 100%;
 text-align: justify;
}
.details{
  display: flex;
  justify-content: space-around;
}
.row-details-first{
  width: 70%;
  flex-direction: column;
  padding: 2em;
}
.details .image-detail{
  width:auto;
  text-align: center;
}
.details .title-details{
  margin-top: 1em;
}
.details .image-detail img{
  width: 60%;
  object-fit: contain;
}
.details .details-text p{
  text-align: justify;
}
.details .details-tags span:hover{
  cursor: pointer;
  background-color: rgb(172, 20, 20);
}
.row-details-second{
  width: 30%;
  padding: 4em;
  text-align: center;
  border-left: 2px solid rgb(141, 141, 140);
  margin-top: 1em;
  height:600px;
}

.details-categorie ul li{
  list-style: none;
  color: #000;
}
.details-articles-recents ul li{
  list-style: none;
  color: #000;
}

.details-categorie ul li a:hover{
  text-decoration: underline;
  color: #000;
}

/* Pagination styles */
.pagination {
  margin-top: 20px;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
}

.pagination a {
  color: #020202;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid #58595a;
  margin: 0 2px;
  border-radius: 4px;
}

.pagination a:hover {
  background-color: #58595a;
  color: white;
}

.pagination .current {
  color: #fff;
  background-color: #58595a;
  padding: 5px 10px;
  border: 1px solid #58595a;
  margin: 0 2px;
  border-radius: 4px;
}

/* categorie */

.wrapper{
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
.wrapper .card{
  width: 18rem;
  margin:1rem 1rem 1rem 0;
}

.filter{
  background-color: #ccc;
  width: 100%;
  padding: 1em;
  margin: 1em auto;
  display: none;
}

/* AJouter un article */

.section_main{
  padding: 2em;
  margin: 0 auto;
  width: 50%;
}

.footer-basic {
  padding: 1em;
  background-color:rgb(38, 39, 38);
  color:#fcfeff;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}
.group_comment{
  margin-top: 2em;
  /* background-color: #0f0; */
}
.row_comment{
  display: flex;
  margin-top: 1em;
  background-color: rgb(210, 211, 212);
  border-radius: 10px 10px 10px 10px;
}
.comment_profil{
  text-align: center;
  padding: 1em;
  width: 20%;
}
/* .comment_profil img{
  border-radius: 70px 70px 70px 70px;
} */
.text-comment{
  width: 75%;
  padding: 1em;
  /* background-color: #0f0; */
}
.text-comment p{
  text-align: justify;
  /* background-color: #0f0; */
}
.show-comment{
  margin-top:2em ;
  height: 300px;
  overflow-y: scroll;
}



@media screen and (max-width: 1000px) {
  .details{
    display: block;
  }
  .row-details-first{
    width: auto;
  }
  .row-details-second{
    padding: 2em;
    text-align: left;
    width: 100%;
  }
  .details .details-text p{
    width: 100%;
  }
  .main_auth{
    display: block;
    padding: 1em;
  }
  .div_login{
    width: 100%;
  }
  .div_register{
    width: 100%;
  }
  .msg_success_reset{
    width: 100%;
  }
  .div_reset_password{
    width: 100%;
  }
}